body {
  background-color: cyan;
}

.container {
  position: relative;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.orange {
  height: 100px;
  width: 100px;

  position: absolute;
  background-color: orange;
  left: 0;
  top: 0;
}

.blue {
  height: 100px;
  width: 100px;

  background-color: blue;
  position: absolute;
  top: 200px;
  right: 200px;
}

.yellow {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: yellow;
  top: 200px;
  left: -100px;
}

.green {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: green;
  top: 0;
  right: -100px;
}

.red {
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: red;
  bottom: 0;
  right: 0;
}
